.hero-header {
  font-family: "DM Sans";
  line-height: 1.5;
}

.hero-details {
  font-family: "DM Sans";
  line-height: 2;
}

@media screen and (max-width: 576px) {
  .hero-header {
    font-size: 1.2rem;
    color: black;
    text-align: center;
  }
  .hero-details {
    font-size: 1rem;
    color: black;
    text-align: center;
  }
  .hero-image {
    width: 350px;
  }
}
