.book-img{
    width: 250px;
    height: 300px;
    padding: 10px;
}



.card-body {
    padding: 10px;
    height: 320px;

}

.card-text {
    /* font-size: 14px; */
    font-family: "DM Sans", sans-serif;
    line-height: 1.5;
}

.description{
    font-weight: 700;
}

.book-price{
    font-weight: 700;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 25px;
    border: 1px solid #a7c0e9;
    background-color: azure;
}

@media screen and (max-width: 768px) {
    .home-container {
      margin-top: 280px !important;
    }
}